@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}





@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.hero{

  height: 100vh;
  width: 100vw;
  position:relative
}

.hero::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../public/carevia1.png') center/cover no-repeat;
  filter:blur(5px)
}

.hero.loaded::before{
  filter: none;
}

.content{
  position:relative;
  z-index:1
}

.hero-container{
  width: 100%;
  height: 100%;
   /* background: rgba(0,0,0,0.4);  */
  /* background: rgba(80, 98, 58,0.4); */
  position: absolute;
  top: 0;
  left: 0; 
}

.text-shadow-hero {
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.65);
}
